/* line 1, ../../Documents/GitHub/Car/src/scss/style.scss */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 7, ../../Documents/GitHub/Car/src/scss/style.scss */
:focus, :active {
  outline: none;
}

/* line 8, ../../Documents/GitHub/Car/src/scss/style.scss */
a:focus, a:active {
  outline: none;
}

/* line 11, ../../Documents/GitHub/Car/src/scss/style.scss */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: #F5F5F5;
}

@font-face {
  font-family: Roboto;
  src: url(Roboto.ttf);
}

/* line 24, ../../Documents/GitHub/Car/src/scss/style.scss */
.container {
  max-width: 1020px;
  margin: 0px auto;
}

/* line 28, ../../Documents/GitHub/Car/src/scss/style.scss */
.layout {
  max-width: 846px;
  margin: 0px auto;
}

/* line 33, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo {
  z-index: 4;
  display: block;
  background-image: url("../img/logo.png");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 41, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__container {
  height: 100vh;
}

/* line 44, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__top-content {
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
}

/* line 49, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__utility {
  display: flex;
}

/* line 52, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__hours {
  margin-right: 30px;
  display: flex;
}

/* line 55, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__hours-icon {
  height: 24px;
  width: 24px;
  background-image: url("../img/access_time.png");
}

/* line 60, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__hours-text {
  margin-left: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}

/* line 71, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__phone {
  margin-right: 30px;
  display: flex;
}

/* line 74, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__phone-icon {
  height: 24px;
  width: 24px;
  background-image: url("../img/phone.png");
}

/* line 79, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__phone-text {
  margin-left: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}

/* line 90, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__btn {
  margin-top: 48px;
}

/* line 93, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__menu {
  margin-top: 28px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
}

/* line 101, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__menu-items {
  height: 40px;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #02133C;
}

/* line 114, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__menu-item {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-left: 37px;
}

/* line 119, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__menu-item-icon {
  background-image: url(../img/expand_more.png);
  margin-left: 1px;
  width: 16px;
  height: 16px;
}

/* line 126, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__menu-utility {
  display: flex;
}

/* line 129, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__menu-search {
  cursor: pointer;
  margin-right: 24px;
  width: 24px;
  height: 24px;
  background-image: url("../img/search.png");
}

/* line 136, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__menu-shop {
  cursor: pointer;
  position: relative;
  margin-right: 48px;
  width: 24px;
  height: 24px;
  background-image: url("../img/shopping.png");
}

/* line 145, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__schet {
  height: 16px;
  width: 16px;
  display: flex;
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 22px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: #C40B0B;
  right: -1em;
  top: -1em;
  border-radius: 50%;
  padding: 0.1rem;
}

/* line 166, ../../Documents/GitHub/Car/src/scss/style.scss */
.logo__text {
  margin-top: 126px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  color: #FFFFFF;
}

/* line 177, ../../Documents/GitHub/Car/src/scss/style.scss */
.btn {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 211px;
  height: 40px;
  background: #C40B0B;
  position: relative;
  transition: all 500ms ease;
}

/* line 187, ../../Documents/GitHub/Car/src/scss/style.scss */
.btn:before {
  z-index: 0;
  content: '';
  height: 40px;
  width: 35px;
  right: 0;
  top: 0;
  transition: all 0.5s ease;
  position: absolute;
  background: #E30B0B;
  transform: skew(-15deg, 0);
  transform-origin: top left;
}

/* line 201, ../../Documents/GitHub/Car/src/scss/style.scss */
.btn-text {
  z-index: 1;
  width: 168px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 2px;
}

/* line 215, ../../Documents/GitHub/Car/src/scss/style.scss */
.btn-icon {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 40px;
  background-color: #E30B0B;
}

/* line 230, ../../Documents/GitHub/Car/src/scss/style.scss */
.btn:hover:before {
  width: 100%;
  transform: none;
}

/* line 235, ../../Documents/GitHub/Car/src/scss/style.scss */
.about {
  z-index: 5;
  margin-top: -80px;
}

/* line 238, ../../Documents/GitHub/Car/src/scss/style.scss */
.about__container {
  height: 700px;
  background-color: #ffffff;
  position: relative;
}

/* line 244, ../../Documents/GitHub/Car/src/scss/style.scss */
.about__fon {
  position: absolute;
  right: 0;
}

/* line 248, ../../Documents/GitHub/Car/src/scss/style.scss */
.about__micro-title {
  padding-top: 100px;
}

/* line 251, ../../Documents/GitHub/Car/src/scss/style.scss */
.about__title {
  max-width: 583px;
  margin-top: 33px;
}

/* line 255, ../../Documents/GitHub/Car/src/scss/style.scss */
.about__text {
  margin-top: 36px;
}

/* line 258, ../../Documents/GitHub/Car/src/scss/style.scss */
.about__img {
  margin-top: 54px;
  margin-bottom: -120px;
}

/* line 259, ../../Documents/GitHub/Car/src/scss/style.scss */
.about__img img {
  position: absolute;
}

/* line 268, ../../Documents/GitHub/Car/src/scss/style.scss */
.promise {
  margin-top: 230px;
}

/* line 270, ../../Documents/GitHub/Car/src/scss/style.scss */
.promise__title {
  margin-top: 33px;
}

/* line 273, ../../Documents/GitHub/Car/src/scss/style.scss */
.promise__cards {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
}

/* line 278, ../../Documents/GitHub/Car/src/scss/style.scss */
.promise__card {
  display: flex;
}

/* line 280, ../../Documents/GitHub/Car/src/scss/style.scss */
.promise__card-text {
  margin-left: 23px;
  max-width: 235px;
}

/* line 285, ../../Documents/GitHub/Car/src/scss/style.scss */
.promise__text {
  margin-top: 20px;
}

/* line 289, ../../Documents/GitHub/Car/src/scss/style.scss */
.video {
  margin-top: 120px;
  position: relative;
}

/* line 292, ../../Documents/GitHub/Car/src/scss/style.scss */
.video video {
  width: 100%;
  height: auto;
  max-height: 100%;
}

/* line 297, ../../Documents/GitHub/Car/src/scss/style.scss */
.video__utility {
  top: 0;
  left: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  max-width: 411px;
}

/* line 306, ../../Documents/GitHub/Car/src/scss/style.scss */
.video__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

/* line 315, ../../Documents/GitHub/Car/src/scss/style.scss */
.video__nav {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 140px;
  width: 140px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 999px;
}

/* line 326, ../../Documents/GitHub/Car/src/scss/style.scss */
.video__border {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 112.78px;
  height: 112.78px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
}

/* line 336, ../../Documents/GitHub/Car/src/scss/style.scss */
.video__play {
  z-index: 3;
  width: 85.56px;
  height: 85.56px;
  border-radius: 999px;
  background: white;
  background-image: url(../img/play_arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* line 348, ../../Documents/GitHub/Car/src/scss/style.scss */
.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #02133C;
}

/* line 356, ../../Documents/GitHub/Car/src/scss/style.scss */
.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4B4B4B;
}

/* line 365, ../../Documents/GitHub/Car/src/scss/style.scss */
.micro-title {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #4B4B4B;
}

/* line 376, ../../Documents/GitHub/Car/src/scss/style.scss */
.micro-title-img {
  width: 17px;
  height: 16px;
  background-image: url("../img/Overline Mark.svg");
  margin-right: 16px;
}

/* line 383, ../../Documents/GitHub/Car/src/scss/style.scss */
.mini-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  color: #02133C;
}

/*# sourceMappingURL=style.css.map */