*{
	padding: 0;
	margin: 0;
	border: 0;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}


html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background: #F5F5F5;
}
@font-face {
    font-family: Roboto; 
    src: url(Roboto.ttf); 
}

.container{
    max-width: 1020px;
    margin: 0px auto;
}
.layout{
    max-width: 846px;
    margin: 0px auto;
}

.logo{
    display: block;
    background-image: url("../img/logo.png");

    background-position: 50% 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    &__container{
        height: 100vh;
    }
    &__top-content{
        display: flex;
        justify-content: space-between;
        padding-top: 39px;
    }
    &__utility{
        display: flex;
    }
    &__hours{
        margin-right: 30px;
        display: flex;
        &-icon{
            height: 24px;
            width: 24px;
            background-image: url("../img/access_time.png");
        }
        &-text{
            margin-left: 14px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 0.15px;
            color: #FFFFFF;
        }
    }
    &__phone{
        margin-right: 30px;
        display: flex;
        &-icon{
            height: 24px;
            width: 24px;
            background-image: url("../img/phone.png");
        }
        &-text{
            margin-left: 14px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 0.15px;
            color: #FFFFFF;
        }
    }
    &__btn{
        margin-top: 48px;
    }
    &__menu{
        margin-top: 28px;
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        &-items{
            height: 40px;
            display: flex;
            align-items: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.15px;
            color: #02133C;
        }
        &-item{
            // display: flex;
            position: relative;
            cursor: pointer;
            align-items: center;
            margin-left: 37px;
            &-icon{
                background-image: url(../img/expand_more.png);
                margin-left: 1px;
                width: 16px;
                height: 16px;
            }
            & img{
                margin-bottom: -3px;
                width: 16px;
                height: 16px;
            }
        }
        &-dopItems{
            z-index: 5;
            width: auto;
            height: auto;
            text-align: left;
            background-color: #ffffff;
            box-shadow: 0 0 2px rgba(0,0,0,0.5);
            position: absolute;
            display: none;
        }
        &-dopItem{
            margin: 10px;

        }
        &-utility{
            display: flex;
            align-items: center;
        }
        &-search{
            cursor: pointer;
            margin-right: 24px;
            width: 24px;
            height: 24px;
            background-image: url("../img/search.png");
            
        }
        &-inpat{
            height: 40px;
            margin-right: 24px;
            width: 200px;
            background: #F5F5F5;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.15px;
            color: #02133C;
            display: none;
            transition: all 500ms ease; 

        }
        &-shop{
            cursor: pointer;
            position: relative;
            margin-right: 48px;
            width: 24px;
            height: 24px;
            background-image: url("../img/shopping.png");
        }
    }
    &__schet{
        height: 16px;
        width: 16px;
        display: flex;
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 22px;
        align-items: center;
        justify-content: center;
        // letter-spacing: 0.15px;
        color: #FFFFFF;

        background: #C40B0B;
        right: -1em;
        top: -1em;
        border-radius: 50%;
        padding: 0.1rem;
    }
    &__text{
        margin-top: 126px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 56px;
        line-height: 56px;
        color: #FFFFFF;
    }
    &__btn{
        width: 211px;
        height: 44px;
        &-menu{
            width: 211px;
            height: 40px;
        }
    }

}
.btn{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C40B0B;
    position: relative;
    transition: all 500ms ease; 
    &:before{
        z-index: 0;
        content:'';
        height: 100%;
        width: 35px;
        right: 0;
        top: 0;
        transition: all 0.5s ease;
        position: absolute;
        background: #E30B0B;
        transform: skew(-15deg, 0);
        transform-origin: top left;
    }

    &-text{
        margin-left: 15px;
        z-index: 1;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.15px;
        text-transform: uppercase;
        color: #FFFFFF;
        border-radius: 2px;
    }
    &-icon{
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 100%;
        background-color: #E30B0B;

        
    }
}
.btn:hover:before {
	width: 100%;
    transform: none;
}

.about{
    z-index: 5;
    margin-top: -80px;
    &__container{
        // background-image: url(../img/Gears.png);
        height: 700px;
        background-color: #ffffff;
        position:relative;
    }
    &__fon{
        position: absolute;
        right: 0;
    }
    &__micro-title{
        padding-top: 100px;
    }
    &__title{
        max-width: 583px;
        margin-top: 33px;
    }
    &__text{
        margin-top: 36px;
    }
    &__img{
        & img{
            position:absolute;
        }
        margin-top: 54px;
        margin-bottom: -120px;
    }

}

.promise{
    margin-top:230px;
    &__title{
        margin-top: 33px;
    }
    &__cards{
        margin-top: 72px;
        display: flex;
        justify-content: space-between;
    }
    &__card{
        display: flex;
        &-text{
            margin-left: 23px;
            max-width: 235px;
        }
    }
    &__text{
        margin-top: 20px;
    }
}
.video{
    margin-top: 120px;
    position: relative;
    & video{
        width: 100%;
        height: auto;
        max-height: 100%;  
    }
    &__utility{
        top: 0;
        left: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        max-width: 411px;
    }
    &__text{
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;

        color: #FFFFFF;
    }
    &__nav{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        height: 140px;
        width: 140px;
        background: rgba(255,255,255,0.12);
        border-radius: 999px;
    }
    &__border{
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        width: 112.78px;
        height: 112.78px;
        background: rgba(255,255,255,0.2);
        border-radius: 999px;
    }
    &__play{
        z-index: 3;
        width: 85.56px;
        height: 85.56px;
        border-radius: 999px;
        background: rgb(255,255,255);
        background-image: url(../img/play_arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.service{
    min-height: 1218px;
    position: relative;
    &__top-fon{
        position: absolute;
        left: 0;
    }
    &__bottom-fon{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &__micro-title{
        padding-top: 108px;
    }
    &__title{
        margin-top: 33px;
    }
    &__items{
        margin-left: -12px;
        margin-right: -12px;
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }
    &__item{
        display: flex;
        transition: all 1s ease;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 12px 12px 12px 12px;
        text-align: center;
        z-index: 1;
        background: #FFFFFF;
        width: 324px;
        height: 340px;
        &-img{
            width: 63px;
            height: 63px;
        }
        &:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            transition: all 1s ease;
        }
    }

    &__mini-title{
        margin-top: 33px;
    }
    &__text{
        max-width: 235px;
        margin-top: 20px;
    }
    &__btn{
        margin-left: auto;
        margin-right: auto;
        margin-top: 54px;
        width: 145px;
        height: 44px;
    }
}

.recording{
    padding-top: 1px;
    min-height: 980px;
    position: relative;
    background: #02133C;
    &__top-fon{
        position: absolute;
        top: 0;
        right: 0;
    }
    &__bottom-fon{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__items{
        margin-top: 130px;
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
        align-items: center;
    }
    &__info{
        z-index: 1;
        width: 324px;
        height: 280px;
        &-title{
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 36px;
            text-align: center;
            color: #FFFFFF;
        }
        &-bigText{
            margin-top: 46px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 96px;
            line-height: 56px;
            text-align: center;
            color: #C40B0B;
        }
        &-text{
            margin-top: 46px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 900;
            font-size: 19px;
            line-height: 26px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    &__layout{
        max-width: 472px;
        margin: 0 auto;
    }
    &__inputs{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
        margin-top: 48px;
        margin-left: -12px;
        margin-right: -12px;

        & input{
            border-left: 23px solid #F5F5F5;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #959595;
            margin: 12px 12px 12px 12px;
            width: 201px;
            height: 48px;
            background: #F5F5F5;
        }
        & textarea{
            border-left: 23px solid #F5F5F5;
            border-right: 23px solid #F5F5F5;
            border-top: 17px solid #F5F5F5;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #959595;
            margin-left: 12px;
            width: 426px;
            height: 180px;
            resize: none;
            background: #F5F5F5;
        }
    }
    &__form{
        z-index: 1;
        background: #FFFFFF;
        width: 585px;
        height: 640px;
    }
    &__title{
        padding-top: 76px;
    }
    &__btn{
        margin-right: 0;
        margin-top: 39px;
        width: 145px;
        height: 44px;
    }
}

.customers{
    min-height: 550px;
    &__content{
        display: flex;
        justify-content: space-between;
        &-text{
            width: 324px;
        }
    }
    &__title{
        margin-top: 33px;
    }
    &__info{
        padding-top: 49px;
        width: 324px;
        height: 291px;
        background: #FFFFFF;
    }
    &__layout{
        max-width: 235px;
        margin: 0 auto;
    }
    &__img{
        width: 48px;
        height: 48px;
    }
    &__about{
        margin-top: 18px;
        display: flex;
        align-items: center;
    }
    &__name{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #02133C;
        margin-left: 17px;
    }
}

.impact{
    min-height: 608px;
    background: #02133C url("../img/overlay image.png");
    background-repeat: no-repeat;
    background-size: cover;
    &__micro-title{
        margin-top: 111px;
        color: #D5D5D5;
    }
    &__title{
        margin-top: 32px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        color: #FFFFFF;
    }
    &__top{
        &-content{
            display: flex;
        }
        &-img{
            margin-top: -80px;
        }
    }
    &__status{
        display: flex;
        justify-content: space-between;
        margin-top: 75px;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 237px;
        height: 76px;
    }
    &__info{
        margin-left: 11px;
        max-width: 150px;
        height: 100%;
    }
    &__micro-title{
        color: #D5D5D5;
    }
    &__big-text{
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        color: #C40B0B;
    }
    &__text{
        color: #F5F5F5;
    }
}

.appointment{
    &__container{
        min-height: 150px;
        margin-top: -78px;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__btn{
        width: 211px;
        height: 48px;
    }
    &__text{
        max-width: 562px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 30px;
        color: #02133C;

    }

}

.info{
    &__content{
        margin-top: 88px;
        display: flex;
        justify-content: space-evenly;
    }
    &__company{
        max-width: 235px;
        &-text{
            margin-top: 23px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.15px;
            color: #4B4B4B;
        }
        &-link{
            display: flex;
            margin-top: 33px;
        }
        &-icon{
            width: 24px;
            height: 24px;
            margin-right: 18px;
        }
    }
    &__link{
        &-title{
            margin-top: 15px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.15px;
            color: #4B4B4B;
        }
        &-items{
            margin-top: 28px;
        }
        &-item{
            display: flex;
            margin-top: 16px;
        }
        &-text{
            margin-top: 11px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.15px;
            color: #4B4B4B;
        }
        &-icon{
            width: 16px;
            height: 16px;
        }
        &-miniText{
            margin-left: 18px;
            max-width: 200px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.15px;
            color: #4B4B4B;
        }
    }
}

.footer{
    margin-top: 98px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #02133C;
    min-height: 60px;
    &__text{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        text-align: right;
        letter-spacing: 0.15px;
        color: #959595;
    }
}

.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
}
.text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
}
.micro-title{
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;

    letter-spacing: 2.5px;
    &-img{
        width: 17px;
        height: 16px;
        background-image: url("../img/Overline Mark.svg");
        margin-right: 16px;
    }
}
.mini-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
    color: #02133C;
}

